html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Poppins", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-clr: hsl(185, 85%, 40%);
  --bg-primary: hsl(195, 20%, 86%);
  --border-clr: hsl(195, 16%, 82%);
  --accent-blue: hsl(205, 100%, 48%);
  --text-primary: hsl(180, 6%, 38%);
  --text-accent: hsl(195, 2%, 78%);

  --header: 3.5rem;
  --full-width: 100%;
  --padding-space: calc(var(--full-width) - 2rem);
  --max-width: 80rem;
  --min-width: 22.5rem;

  --bd-radius: 0.5em;
  --space-025: 0.25rem;
  --space-05: 0.5rem;
  --space-1: 1rem;
}

a {
  text-decoration: none;
}

.container {
  flex-grow: 1;
  display: grid;
  place-self: center;
  inline-size: clamp(var(--min-width), var(--padding-space), var(--max-width));
}

.site-header {
  --padding: 1rem;
  --header-margin: 5vh;
  --shadow: 0 0.1875em 0.3125em #0003, 0 0.125em 0.5em #0002;
  margin-block: auto;
  min-block-size: var(--header);
  background-color: #fff;
  outline: 1px solid var(--border-clr);
  border-radius: var(--bd-radius);
  padding-inline: var(--padding);
  box-shadow: var(--shadow);
}

.header__content--flow {
  block-size: inherit;
  display: flex;
  flex-flow: wrap;

  /* Breakpoint 1280px > 720px */
  gap: 0 clamp(3.5rem, -24.14rem + 61.43vw, 25rem);
}

.header__content--flow > * {
  flex-grow: 1;
  height: var(--header);
  width: calc((45rem - var(--full-width) - (var(--padding) * 2)) * 999);
}

.header-content--left {
  display: grid;
  grid-auto-flow: column;
  inline-size: max-content;
  place-content: center;
}

.brand-logo {
  gap: var(--space-05);
  padding: 0.25em 0.75em;
  align-items: center;
  display: inline-flex;
}

.brand-logo > svg {
  fill: var(--brand-clr);
}

.logo-text {
  color: var(--text-primary);
  font-size: 20px;
  font-weight: 500;
}

.nav-toggle {
  aspect-ratio: 1;
  height: 2.25rem;
  display: inline-grid;
  place-content: center;
  background: none;
  border: none;
  visibility: hidden;
  cursor: pointer;
}

.nav-toggle:active {
  scale: 0.9;
}

.toggle--icon {
  width: 1.5rem;
  height: 0.25rem;
  border-radius: 10vh;
  position: relative;
  background-color: #666;
}

.toggle--icon::before,
.toggle--icon::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-color: currentColor;
  translate: 0 var(--bar--top, 0.5rem);
}

.toggle--icon::after {
  --bar--top: -0.5rem;
}

.header-content--right {
  flex-grow: 999;
}

.header-nav {
  display: grid;
  align-items: center;
  block-size: 100%;
}

.nav__list {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  grid-auto-rows: 2.25rem;
}

.list-item {
  block-size: 100%;
}

.nav__link {
  block-size: inherit;
  display: inline-grid;
  place-items: center;
  min-width: 10ch;
  color: var(--text-primary);
  font-size: 15.3px;
  font-weight: 500;
  text-transform: uppercase;
}

.nav__link:focus-within {
  color: var(--accent-blue);
}
.nav__link:hover:not(:focus) {
  border-bottom: 2px solid currentColor;
}
.nav__list:hover .nav__link:not(:focus, :hover) {
  color: var(--text-accent);
}

@media (max-width: 575px) {
  .header-content--left {
    justify-content: space-between;
  }

  .header-content--right {
    height: auto;
  }

  .nav-toggle {
    visibility: visible;
  }

  .nav__list {
    right: 0;
    margin-inline: var(--space-1);
    top: calc(50% + var(--space-1) * 2);
    gap: var(--space-05) 0;
    position: fixed;
    width: 10em;
    background-color: #fff;
    border-radius: var(--bd-radius);
    border: 1px solid var(--border-clr);
    padding-block: 0.5rem;
    grid-auto-flow: row;
    box-shadow: var(--shadow);
    visibility: hidden;
    opacity: 0;
  }

  .nav__list[aria-expanded="true"] {
    visibility: visible;
    transform-origin: top center;
    opacity: 1;
    transition: visibility 0ms, transform 166ms ease, opacity 166ms linear;
    position: fixed;
    top: 61px;
    z-index: 999;
  }
}

@media (max-width: 479px) {
  .header-content--left > * {
    scale: 0.83;
  }
  .nav__list {
    width: calc(var(--full-width) - (var(--space-1) * 2));
  }
}

.brand-logo img {
  width: 50px;
}

/* hero */
.hero-continer {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
section.hero {
  padding-top: 20px;
}
h1.hero-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.05;
}

p.hero-para {
  font-size: 18px;
  font-weight: 300;
  padding-top: 20px;
  line-height: 1.08;
  padding-bottom: 30px;
}

div.about-hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a.hero-bt {
  background-color: rgb(176, 98, 255);
  padding: 5px 23px 5px 23px;
  color: #fff;
  border-radius: 20px;
}

footer {
  background-color: black;
  height: 50px;
  color: white;
  margin-top: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .hero-continer {
    flex-direction: column-reverse;
  }
  h1.hero-title {
    padding-top: 20px;
  }
  div.about-hero {
    padding-bottom: 30px;
  }
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

a {
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  line-height: 25px;
}

.responsive-container-block.bigContainer {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 50px 10px 50px;
}

.mainImg {
  color: black;
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.text-blk.headingText {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(176, 98, 255);
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
}

.allText {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 40%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.text-blk.subHeadingText {
  color: black;
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.text-blk.description {
  font-size: 18px;
  line-height: 26px;
  color: black;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
  font-weight: 400;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.explore {
  font-size: 16px;
  line-height: 28px;
  color: black;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(102, 102, 102);
  border-right-color: rgb(102, 102, 102);
  border-bottom-color: rgb(102, 102, 102);
  border-left-color: rgb(102, 102, 102);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  cursor: pointer;
  background-color: white;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 8px;
  padding-right: 40px;
  padding-bottom: 8px;
  padding-left: 40px;
}

.explore:hover {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(176, 98, 255);
  color: white;
  border-top-width: initial;
  border-right-width: initial;
  border-bottom-width: initial;
  border-left-width: initial;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.responsive-container-block.Container {
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  max-width: 1320px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.responsive-container-block.Container.bottomContainer {
  flex-direction: row-reverse;
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  position: static;
}

.allText.aboveText {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 40px;
}

.allText.bottomText {
  margin-top: 0px;
  margin-right: 40px;
  margin-bottom: 0px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.purpleBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 430px;
  background-color: rgb(176, 98, 255);
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  bottom: -35px;
  left: -8%;
}

.purpleText {
  font-size: 18px;
  line-height: 26px;
  color: white;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.ultimateImg {
  width: 50%;
  position: relative;
}

@media (max-width: 1024px) {
  .responsive-container-block.Container {
    max-width: 850px;
  }

  .mainImg {
    width: 55%;
    height: auto;
  }

  .allText {
    width: 40%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
  }

  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .responsive-container-block.Container.bottomContainer {
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }

  .responsive-container-block.Container {
    max-width: 830px;
  }

  .allText.aboveText {
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
  }

  .allText.bottomText {
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-align: left;
  }

  .text-blk.headingText {
    text-align: center;
  }

  .allText.aboveText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .text-blk.subHeadingText {
    text-align: left;
    font-size: 26px;
    line-height: 32px;
  }

  .text-blk.description {
    text-align: left;
    line-height: 24px;
  }

  .explore {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
  }

  .responsive-container-block.Container {
    justify-content: space-evenly;
  }

  .purpleBox {
    bottom: 10%;
  }

  .responsive-container-block.Container.bottomContainer {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    max-width: 930px;
  }

  .allText.bottomText {
    width: 40%;
  }

  .purpleBox {
    bottom: auto;
    left: -10%;
    top: 70%;
  }

  .mainImg {
    width: 100%;
  }

  .text-blk.headingText {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .allText {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .responsive-container-block.Container {
    flex-direction: column;
    height: auto;
  }

  .text-blk.headingText {
    text-align: center;
  }

  .text-blk.subHeadingText {
    text-align: center;
    font-size: 24px;
  }

  .text-blk.description {
    text-align: center;
    font-size: 18px;
  }

  .allText {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .allText.aboveText {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .responsive-container-block.Container {
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }

  .responsive-container-block.Container.bottomContainer {
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }

  .allText.bottomText {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .mainImg {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: -70px;
    margin-left: 0px;
  }

  .responsive-container-block.Container.bottomContainer {
    flex-direction: column;
  }

  .ultimateImg {
    width: 100%;
  }

  .purpleBox {
    position: static;
  }

  .allText.bottomText {
    width: 100%;
    align-items: flex-start;
  }

  .text-blk.headingText {
    text-align: left;
  }

  .text-blk.subHeadingText {
    text-align: left;
  }

  .text-blk.description {
    text-align: left;
  }

  .ultimateImg {
    position: static;
  }

  .mainImg {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .ultimateImg {
    position: relative;
  }

  .purpleBox {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    position: absolute;
    left: 0px;
    top: 80%;
  }

  .allText.bottomText {
    margin-top: 100px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}

@media (max-width: 500px) {
  .responsive-container-block.Container {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    width: 100%;
    max-width: 100%;
  }

  .mainImg {
    width: 100%;
  }

  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
  }

  .text-blk.subHeadingText {
    font-size: 24px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 28px;
  }

  .text-blk.description {
    font-size: 16px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 22px;
  }

  .allText {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
  }

  .allText.bottomText {
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0 0 0 0;
    margin: 30px 0 0 0;
  }

  .ultimateImg {
    position: static;
  }

  .purpleBox {
    position: static;
  }

  .stars {
    width: 55%;
  }

  .allText.bottomText {
    margin-top: 75px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .purpleText {
    font-size: 16px;
    line-height: 22px;
  }

  .explore {
    padding: 6px 35px 6px 35px;
    font-size: 15px;
  }
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 400px;
  gap: 20px;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.each {
  background: #f1f3f6;
  box-shadow: inset 0 0 5px rgba(55, 84, 170, 0),
    inset 0 0 10px rgba(255, 255, 255, 0), 5px 5px 9px rgba(55, 84, 170, 0.15),
    -5px -5px 11px white, inset 0px 0px 2px rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.2s ease-in-out;
  height: 190px;
  width: 190px;
  border-radius: 30px;
  font-family: Arial, Helvetica, sans-serif;
  border: 5px solid #eaeef5;
}

.skills:hover .each {
  box-shadow: inset 4px 4px 7px rgba(55, 84, 170, 0.15),
    inset -4px -4px 10px white, 0px 0px 2px rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.2s ease-in-out;
}

.each .box {
  padding: 16px;
}

.css .box {
  text-align: right;
}

.js .box {
  margin-top: 40px;
}

.ng .box {
  margin-top: 40px;
  text-align: right;
}

.each .box .content h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 6px;
}

.each .box .content p {
  font-size: 12px;
  margin: 0;
}

.html .box .content i {
  margin-top: 40px;
}

.css .box .content i {
  font-size: 30px;
  margin-left: 100px;
  margin-top: 40px;
}

.js .box .content i {
  margin-bottom: 20px;
}

.ng .box .content i {
  margin-bottom: 20px;
}

.each .box .content i {
  font-size: 30px;
}

.center {
  position: absolute;
  height: 160px;
  width: 160px;
  background: #f1f3f6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border-radius: 108px;
  box-shadow: inset 0 0 5px rgb(176, 98, 255), inset 0 0 10px rgb(176, 98, 255),
    5px 5px 9px rgb(176, 98, 255), -5px -5px 11px rgb(176, 98, 255),
    inset 0px 0px 2px rgb(176, 98, 255);
  transition: box-shadow 0.2s ease-in-out;
  border: 10px solid rgb(176, 98, 255);
}

.center .box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

div.skills {
  margin: 0 auto;
  padding: 50px 100px 100px 100px;
}

h1.skills-h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding-top: 50px;
}

div.gridbox {
  display: grid;
  grid-template-columns: auto auto auto;
}

div.griditem {
  height: 100%;
  width: 100%;
  background: red;
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-gap: 1.5vw;
    min-height: 100vh;
    padding: 1.5vw;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50vh 30vh repeat(7, minmax(20vh, 1fr));
    grid-template-areas:
      "hero   hero"
      "big1   big1"
      "med1   med1"
      "med2   med2"
      "small1 small2"
      "small3 small4"
      "small5 small6"
      "small7 small8"
      "small9 small10";
  }

  @media screen and (min-width: 750px) {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 25vh);
      grid-template-areas:
        "hero   hero   hero   med1   med1"
        "hero   hero   hero   med2   med2"
        "big1   big1   big1   big1   big1"
        "small1 small2 small3 small4 small5"
        "small6 small7 small8 small9 small10";
    }
  }

  @media screen and (min-width: 1400px) {
    .grid {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: auto;
      grid-template-areas:
        "small1 hero   hero hero med1   med1"
        "small2 hero   hero hero med2   med2"
        "small3 small5 big1 big1 small7 small8"
        "small4 small6 big1 big1 small9 small10";
    }
  }

  .grid .item:nth-child(1) {
    grid-area: hero;
  }
  .grid .item:nth-child(2) {
    grid-area: big1;
  }
  .grid .item:nth-child(3) {
    grid-area: med1;
  }
  .grid .item:nth-child(4) {
    grid-area: med2;
  }
  .grid .item:nth-child(5) {
    grid-area: small1;
  }
  .grid .item:nth-child(6) {
    grid-area: small2;
  }
  .grid .item:nth-child(7) {
    grid-area: small3;
  }
  .grid .item:nth-child(8) {
    grid-area: small4;
  }
  .grid .item:nth-child(9) {
    grid-area: small5;
  }
  .grid .item:nth-child(10) {
    grid-area: small6;
  }
  .grid .item:nth-child(11) {
    grid-area: small7;
  }
  .grid .item:nth-child(12) {
    grid-area: small8;
  }
  .grid .item:nth-child(13) {
    grid-area: small9;
  }
  .grid .item:nth-child(14) {
    grid-area: small10;
  }
}

/* flexbox fallback is the browser does not support display:grid */
@supports not (display: grid) {
  .grid {
    display: flex;
    flex-flow: row wrap;
    min-height: 100vh;
    padding: 0.75vw;
  }

  .grid .item {
    min-height: 20vh;
    margin: 0.75vw;
  }

  .grid .item:nth-child(1) {
    flex: 0 1 calc(100% - 1.5vw);
    height: 50vh;
  }
  .grid .item:nth-child(2) {
    flex: 0 1 calc(100% - 1.5vw);
    height: 30vh;
  }
  .grid .item:nth-child(3) {
    flex: 0 1 calc(100% - 1.5vw);
  }
  .grid .item:nth-child(4) {
    flex: 0 1 calc(100% - 1.5vw);
  }
  .grid .item:nth-child(5) {
    flex: 0 1 calc(50% - 1.5vw);
  }
  .grid .item:nth-child(6) {
    flex: 0 1 calc(50% - 1.5vw);
  }
  .grid .item:nth-child(7) {
    flex: 0 1 calc(50% - 1.5vw);
  }
  .grid .item:nth-child(8) {
    flex: 0 1 calc(50% - 1.5vw);
  }
  .grid .item:nth-child(9) {
    flex: 0 1 calc(50% - 1.5vw);
  }
  .grid .item:nth-child(10) {
    flex: 0 1 calc(50% - 1.5vw);
  }
  .grid .item:nth-child(11) {
    flex: 0 1 calc(50% - 1.5vw);
  }
  .grid .item:nth-child(12) {
    flex: 0 1 calc(50% - 1.5vw);
  }
  .grid .item:nth-child(13) {
    flex: 0 1 calc(50% - 1.5vw);
  }
  .grid .item:nth-child(14) {
    flex: 0 1 calc(50% - 1.5vw);
  }

  @media screen and (min-width: 750px) {
    .grid .item:nth-child(1) {
      flex: 0 1 calc(60% - 1.5vw);
    }
    .grid .item:nth-child(2) {
      flex: 0 1 calc(40% - 1.5vw);
      height: 50vh;
    }
  }

  @media screen and (min-width: 1400px) {
    .grid .item:nth-child(1) {
      flex: 0 1 calc(60% - 1.5vw);
    }
    .grid .item:nth-child(2) {
      flex: 0 1 calc(40% - 1.5vw);
    }
    .grid .item:nth-child(3) {
      flex: 0 1 calc(50% - 1.5vw);
    }
    .grid .item:nth-child(4) {
      flex: 0 1 calc(50% - 1.5vw);
    }
    .grid .item:nth-child(5) {
      flex: 0 1 calc(25% - 1.5vw);
    }
    .grid .item:nth-child(6) {
      flex: 0 1 calc(25% - 1.5vw);
    }
    .grid .item:nth-child(7) {
      flex: 0 1 calc(25% - 1.5vw);
    }
    .grid .item:nth-child(8) {
      flex: 0 1 calc(25% - 1.5vw);
    }
    .grid .item:nth-child(9) {
      flex: 0 1 calc(25% - 1.5vw);
    }
    .grid .item:nth-child(10) {
      flex: 0 1 calc(25% - 1.5vw);
    }
    .grid .item:nth-child(11) {
      flex: 0 1 calc(25% - 1.5vw);
    }
    .grid .item:nth-child(12) {
      flex: 0 1 calc(25% - 1.5vw);
    }
    .grid .item:nth-child(13) {
      flex: 0 1 calc(25% - 1.5vw);
    }
    .grid .item:nth-child(14) {
      flex: 0 1 calc(25% - 1.5vw);
    }
  }
}

/* Styles, just for fun */

*,
*:before,
*:after {
  box-sizing: border-box;
}

@supports not (display: grid) {
  body:before {
    content: "Sorry, seems like your browser doesn't support display: grid. Below is the flexbox fallback.";
    display: block;
    padding: 2rem 2rem 0;
    color: #ffffff;
    text-align: center;
  }
}

.header {
  margin: 10vh 1.5vw;
  text-align: center;
  color: #cedfe9;
}

.header h1,
.header h2 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1;
}

.header h1 {
  position: relative;
  padding-bottom: 0.5em;
  color: #ffffff;
  font-size: 2rem;
}

.header h2 {
  font-weight: normal;
  font-size: 0.875rem;
}

@media screen and (min-width: 750px) {
  .header h1 {
    font-size: 3.75rem;
  }

  .header h2 {
    font-weight: normal;
    font-size: 1.125rem;
    letter-spacing: 0.5em;
  }
}

@media screen and (min-width: 1400px) {
  .header h1 {
    font-size: 6rem;
  }

  .header h2 {
    font-weight: normal;
    font-size: 1.5rem;
  }
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.diamond {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to top left, #ddd 0%, #fff 100%);
  text-align: center;
  transform-origin: center;
  transform: rotateZ(45deg);
  transition: box-shadow 250ms, transform 250ms;
}

.diamond span {
  font-weight: bold;
  transform: rotateZ(-45deg);
}

.grid .item:hover .diamond,
.grid .item:focus .diamond {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transform: rotateZ(45deg) scale(1.2);
}

.tooltip {
  position: absolute;
  z-index: 1;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  background: #29343d;
  opacity: 0;
  color: #cedfe9;
  font-size: 0.875rem;
  transition: opacity 500ms, transform 500ms;
}

.tooltip:before {
  content: "";
  position: absolute;
  top: -9px;
  left: calc(50% - 10px);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #29343d;
}

.grid .item:hover .tooltip,
.grid .item:focus .tooltip {
  opacity: 1;
  transform: translateY(70px);
}

.grid .item {
  position: relative;
  padding: 1vw;
  background-position: left bottom;
  background-size: cover;
  transition: background 500ms, outline 500ms;
  background-position: center;
  outline: transparent;
}

.grid .item:hover,
.grid .item:focus {
  background-position: top right;
}

.grid .item:focus {
  outline: 2px solid #3eabfa;
}

.grid .item:nth-child(1) {
  background-image: url(./m1.jpg);
}
.grid .item:nth-child(2) {
  background-image: url(./m2.jpg);
}
.grid .item:nth-child(3) {
  background-image: url(./m3.jpeg);
}
.grid .item:nth-child(4) {
  background-image: url(./m4.png);
}
.grid .item:nth-child(5) {
  background-image: url(./m5.jpg);
}
.grid .item:nth-child(6) {
  background-image: url(./m6.webp);
}
.grid .item:nth-child(7) {
  background-image: url(./m7.webp);
}
.grid .item:nth-child(8) {
  background-image: url(./m9.jpg);
}
.grid .item:nth-child(9) {
  background-image: url(./m10.jpg);
}
.grid .item:nth-child(10) {
  background-image: url(./m11.jpg);
}
.grid .item:nth-child(11) {
  background-image: url(./m12.webp);
}
.grid .item:nth-child(12) {
  background-image: url(./m13.webp);
}
.grid .item:nth-child(13) {
  background-image: url(./m14.jpg);
}
.grid .item:nth-child(14) {
  background-image: url(./m23.webp);
}

@media only screen and (max-width: 600px) {
  .profimg img {
    width: 100%;
  }
}

footer h2 {
  font-size: 0.9em;
  text-align: center;
}

ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}

ol.gradient-list > li {
  background: white;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  counter-increment: gradient-counter;
  margin-top: 1rem;
  min-height: 3rem;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
}
ol.gradient-list > li::before,
ol.gradient-list > li::after {
  background: rgb(176, 98, 255);
  border-radius: 1rem 1rem 0 1rem;
  content: "";
  height: 3rem;
  left: -1rem;
  overflow: hidden;
  position: absolute;
  top: -1rem;
  width: 3rem;
}
ol.gradient-list > li::before {
  align-items: flex-end;
  content: counter(gradient-counter);
  color: #1d1f20;
  display: flex;
  font: 900 1.5em/1 "Montserrat";
  justify-content: flex-end;
  padding: 0.125em 0.25em;
  z-index: 1;
}
ol.gradient-list > li:nth-child(10n + 1):before {
  background: linear-gradient(
    135deg,
    rgb(176, 98, 255) 0%,
    rgb(176, 98, 255) 100%
  );
}
ol.gradient-list > li:nth-child(10n + 2):before {
  background: linear-gradient(
    135deg,
    rgb(176, 98, 255) 0%,
    rgb(176, 98, 255) 100%
  );
}
ol.gradient-list > li:nth-child(10n + 3):before {
  background: linear-gradient(
    135deg,
    135deg,
    rgb(176, 98, 255) 0%,
    rgb(176, 98, 255) 100%
  );
}
ol.gradient-list > li:nth-child(10n + 4):before {
  background: linear-gradient(
    135deg,
    135deg,
    rgb(176, 98, 255) 0%,
    rgb(176, 98, 255) 100%
  );
}
ol.gradient-list > li:nth-child(10n + 5):before {
  background: linear-gradient(
    135deg,
    rgb(176, 98, 255) 0%,
    rgb(176, 98, 255) 100%
  );
}
ol.gradient-list > li:nth-child(10n + 6):before {
  background: linear-gradient(
    135deg,
    rgb(176, 98, 255) 0%,
    rgb(176, 98, 255) 100%
  );
}
ol.gradient-list > li:nth-child(10n + 7):before {
  background: linear-gradient(
    135deg,
    rgb(176, 98, 255) 0%,
    rgb(176, 98, 255) 100%
  );
}
ol.gradient-list > li:nth-child(10n + 8):before {
  background: linear-gradient(
    135deg,
    rgb(176, 98, 255) 0%,
    rgb(176, 98, 255) 100%
  );
}
ol.gradient-list > li:nth-child(10n + 9):before {
  background: linear-gradient(
    135deg,
    rgb(176, 98, 255) 0%,
    rgb(176, 98, 255) 100%
  );
}
ol.gradient-list > li:nth-child(10n + 10):before {
  background: linear-gradient(
    135deg,
    rgb(176, 98, 255) 0%,
    rgb(176, 98, 255) 100%
  );
}
ol.gradient-list > li + li {
  margin-top: 2rem;
}

ol.gradient-list > li::before,
ol.gradient-list > li {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05),
    0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}

span.pup {
  color: rgb(176, 98, 255);
}
